
body {

    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	
}

header{
    padding-bottom: 0px;
	}

#headimg{
    font-size: 0px;
	
}

nav {
    z-index: 1;
    position: relative;
    font-size: 0px;
}

ul {
    list-style-type: none;
    margin:0;
    background-color: #00ccff;
    overflow: hidden;
    
}

a {
    font-size: 10px;
}

.menuitem {
    float:left;
    padding-right: 10px;
    padding-left: 10px;

}

.menuitem a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    
}

.menuitem a:hover {
    background-color:#008fb3;
    color: white;
}


.drpdwnitems{ 
    display: none;
    position:absolute;
    background-color:#00ccff;
    float: left;
    text-align:left;
    height:inherit;
    list-style-type:circle;
}


.drpdwnword {
    color:mediumpurple;
    font-size: 17px;
    text-decoration: none;
}

.drpdwnword:hover {
    color: white;
    background-color:#008fb3; 
}


.drpdwn:hover .drpdwnitems{
    display: block;
    color: white;
}


#active a{
    background-color:#008fb3 ;
    color: white;
}

h1{
    text-align: center;
}

h2,h3,p {
    padding: 10px;
}

#maincontent {
    position:relative;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0px;
    margin: -21px 70px 0px 70px;
    height: 100%;
    background-color:#e6faff;

}

<<<<<<< HEAD
figcaption{
    text-decoration: underline;
}
=======

figcaption{
    text-decoration: underline;
}


#table1{
	position:relative;
}

#table2{
	position:relative;
}
th, td{
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align:left;
}
>>>>>>> bfbf8ef3f3697e47980852c76162e882c24ae859
